<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/detail.css" />
  </head>
  <body>
    <!-- header -->
    <header>
      <nav>
        <ul>
          <li><a href="/" class="bold-text">NUDAKE</a></li>
          <li class="menu-item">
            <a href="#">STORES</a>
            <ul class="substore">
              <li><a href="#">DOSAN</a></li>
              <li><a href="#">SEONGSU</a></li>
              <li><a href="#">SINSA</a></li>
              <li><a href="#">SHANGHAI</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="/menu">MENU</a>
            <ul class="submenu">
              <li><a href="#">DESSERT</a></li>
              <li><a href="#">BEVERAGE</a></li>
              <li><a href="#">MERCH</a></li>
            </ul>
          </li>
          <li class="menu-item">
            <a href="#">PROJECTS</a>
            <ul class="subproject">
              <li><a href="#">JENNIECOLLAB</a></li>
              <li><a href="#">NEWJEANSCOLLAB</a></li>
              <li><a href="#">SINSA</a></li>
              <li><a href="#">BIRTH</a></li>
              <li><a href="#">PURPOSE</a></li>
            </ul>
          </li>
          <li class="menu-item"><a href="#">SOCIAL</a></li>
        </ul>
      </nav>

      <div>find</div>
    </header>
    <!-- detail -->
    <div class="container">
      <div class="product-image">
        <img src="<%= product.imageurl %>" alt="<%= product.name %>" />
      </div>
      <div class="product-info">
        <nav class="breadcrumb">
          <a href="/menu">MENU</a> > <a href="#">DESSERT</a> > <%= product.name
          %>
        </nav>
        <h1 class="product-title"><%= product.name %></h1>
        <p class="price"><%= product.price %>원</p>
        <p class="description"><%- product.details %></p>
        <div class="navigation">
          <a href="<%= product.prev %>" class="nav-link">&larr; PREVIOUS</a>
          <a href="<%= product.next %>" class="nav-link">NEXT &rarr;</a>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container">
        <ul class="social-links">
          <li><a href="#">INSTAGRAM</a></li>
          <li><a href="#">KAKAOTALK</a></li>
          <li><a href="#">YOUTUBE</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
        <div class="footer-info">
          <p>
            IICombined Co., Ltd. | Business Registration Number: 119-86-38589
          </p>
          <p>
            Representative: Hangook Kim | 41, Eoulmadang-Ro 5-Gil, Mapo-Gu,
            Seoul
          </p>
        </div>
        <p class="copyright">© NUDAKE</p>
      </div>
    </footer>
  </body>
</html>
